
data/images/
data/annotations/
data/*.tar
data/*.tar.gz
data/*.zip


*.pth
*.pt
*.h5


__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.env/
env/

.ipynb_checkpoints/

*.log


.DS_Store
Thumbs.db

.vscode/
.idea/

wandb/